{% extends 'base.html.twig' %}

{% block title %}Contrato{% endblock %}

{% block body %}
    <h1>Contrato</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrato.id }}</td>
            </tr>
            <tr>
                <th>Num_con</th>
                <td>{{ contrato.numCon }}</td>
            </tr>
            <tr>
                <th>Vig_con</th>
                <td>{{ contrato.vigCon ? contrato.vigCon|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contrato_index') }}">back to list</a>

    <a href="{{ path('contrato_edit', {'id': contrato.id}) }}">edit</a>

    {{ include('contrato/_delete_form.html.twig') }}
{% endblock %}
